{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Typing Test</title>
  <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>

{% block content %}
  <div class="test-container">
        <h1>Typing Test</h1>
        <div id="text-container" class="text-box"></div> <!-- Текст для введення -->
        <div class="stats">
            <div class="stat-box">
                <p>Помилки: <span id="error-count">0</span></p>
            </div>
            <div class="stat-box">
                <p>Точність: <span id="accuracy">100</span>%</p>
            </div>
            <div class="stat-box">
                <p>Час: <span id="timer">0.00</span> сек</p>
            </div>
        </div>
    </div>
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
